wax_account: abcde.wam
# only http proxy like 127.0.0.1:10809
use_proxy: false
proxy: null
#建造、采集资源、养鸡、养牛、种地、会员点击，需要程序自动化的操作，设置为true
build: false
mining: false
chicken: false
cow: false
plant: false
mbs: false

#自动卖玉米
sell_corn: false
#保留玉米数量
remaining_corn_num: 0
#自动卖大麦
sell_barley: false
#保留大麦数量
remaining_barley_num: 0
#自动卖牛奶
sell_milk: false
#保留牛奶数量
remaining_milk_num: 0
#自动卖鸡蛋
sell_egg: false
#保留鸡蛋数量
remaining_egg_num: 0

#自动提现
withdraw: false
#账号中剩余多少材料不提现
need_fww: 0
need_fwf: 500
need_fwg: 500
#最少提现数量，3种材料总和
withdraw_min: 500

#每次补充满多少能量
recover_energy: 500


